*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

button{
    text-decoration: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body{
    background: url(../img/auberge.jpg) center center / cover no-repeat;
    width: 100%;
    min-height: 100%;
}


footer{
    width: 100%;
}


div{
    display: block;
}

.nava{
    width: 100%;
}

.conteneur{
    justify-content: center;
    background-color: rgb(245, 245, 245, 0.80);
    padding-top: 5%;
    padding-bottom: 5%;
    border-style: solid;
    border-color: khaki;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.conteneur1{
    justify-content: center;
    background-color: rgb(245, 245, 245);
    padding-top: 5%;
    padding-bottom: 5%;
    border-style: solid;
    border-color: khaki;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img{
    background-position: center center;
    justify-content: center;
    border-style: solid;
    border-color: khaki;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text{
    display: flex;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff !important;
    border-style: solid;
    border-color: khaki;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.nom{
    font-size: 3em;
    color: #1a1a1a;
    font-weight: 400;
    font-family: "Cinzel", Helvetica, Arial, sans-serif;
}

.description{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Playfair Display', Arial, Tahoma, sans-serif;
    color: #af8842;
    font-weight: 400;
}

th, td{
    padding: 5px;
    border: solid;
    border-color: #af8842;
}

.ggMap{
    height: 500px;
    width: 100%;
    border: 0;
}

@media screen and (min-width: 1100px){

    .nava
    {display: none;}

    #container-nava{
        overflow: hidden;
        height: 400px;
        background-position: 30% 7%;
        width: 100%;
        background-image: url(../img/navacelles1.jpg);
        background-size: 100%;
        background-position: 50%;
    }
    

    .box{
        display: flex;
        justify-content: center;
    }

    .box1{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .img{    
        display: flex;
        background-position: center center;
        height: 300px;
        width: auto;
    }

    .ggMap{
        width: 800px;    }
}